In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFrame = pd.read_excel("27-SalarySheet.xlsx")

In [3]:
dataFrame

       Employee Name            Department       Title  Salary
0       Semaj Bowers             Marketing         Mid     600
1        Gary Foster                 Sales         Mid     650
2   Saniya Maldonado                    HR         Mid     600
3     Jillian Zuniga                    HR     C-level    1000
4      Courtney Mora                 Sales         Mid     550
..               ...                   ...         ...     ...
95          Jake Gay                 Sales      Junior     443
96      Macy Webster               Finance     C-level    1250
97     Jaquan Meyers             Marketing  Mid-Senior     800
98       Willow Bush  Software Development      Junior     441
99   Emmanuel Prince                 Sales         Mid     612

[100 rows x 4 columns]

In [4]:
#1) Toplamda kaç satır veri vardır?

In [5]:
len(dataFrame)
#dataFrame.describe()

100

In [6]:
#2) Bu firma ortalama ne kadar maaş vermektedir?

In [7]:
print(dataFrame["Salary"].mean())

725.84

In [8]:
#3) Bu firmada departmanlara göre ortalama maaş karşılaştırması nasıldır?

In [9]:
dataFrame.groupby("Department").mean("Salary")

                          Salary
Department
Finance               805.411765
HR                    640.937500
Marketing             707.000000
Sales                 656.666667
Software Development  826.409091

In [10]:
#4) Bu firmada title (senior - junior) durumuna göre ortalama maaş karşılaştırması nasıldır?

In [11]:
titleGroup = dataFrame.groupby("Title")
titleGroup.mean("Salary").loc[["Junior", "Senior"]]

            Salary
Title
Junior  440.625000
Senior  867.777778

In [12]:
#5) Senior bir kişinin junior bir kişiye göre maaşı ortalama yüzde kaç fazladır?

In [13]:
new_data_frame = dataFrame.groupby("Title").mean("Salary")
junior_salary = new_data_frame.loc["Junior", "Salary"]
senior_salary = new_data_frame.loc["Senior", "Salary"]
print(senior_salary/junior_salary*100-100)

96.94247438928292

In [14]:
#6) Software development departmanında senior bir kişinin junior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [23]:
new_data_frame = dataFrame[dataFrame["Department"] == "Software Development"]
print(new_data_frame)
new_data_frame = new_data_frame.groupby("Title").mean("Salary")
print(new_data_frame)
senior_salary = new_data_frame.loc["Senior", "Salary"]
junior_salary = new_data_frame.loc["Junior", "Salary"]
print(senior_salary/junior_salary*100-100)

         Employee Name            Department       Title  Salary
6        Caitlin Terry  Software Development      Senior     900
9      Travis Morrison  Software Development     C-level     900
10         Heidy Weiss  Software Development      Junior     450
20        Leonel Klein  Software Development         Mid     850
22     Adriel Sandoval  Software Development         Mid     450
23       Sullivan Best  Software Development     C-level    1100
24        Tiana Duarte  Software Development      Junior     400
25         Kelly Blair  Software Development  Mid-Senior     600
27    Nicolas Odonnell  Software Development  Mid-Senior     700
29         Javier Wood  Software Development     C-level     900
34        Kelton Tyler  Software Development     C-level    1100
51         Draven Reid  Software Development      Senior     950
55      Sanai Andersen  Software Development  Mid-Senior     760
58         Linda David  Software Development     C-level    1900
59     Cailyn Holloway  Software Development      Senior     815
66    Jefferson Cannon  Software Development     C-level    1200
78         Sylvia Kane  Software Development      Senior     915
79  Kristina Alexander  Software Development         Mid     600
88       Leon Odonnell  Software Development  Mid-Senior     800
90         Ruben Singh  Software Development  Mid-Senior     700
94    William Lawrence  Software Development  Mid-Senior     750
98         Willow Bush  Software Development      Junior     441
                 Salary
Title
C-level     1183.333333
Junior       430.333333
Mid          633.333333
Mid-Senior   718.333333
Senior       895.000000
107.97831138652208

In [45]:
#7) Finance departmanında c-level bir kişinin mid-senior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [29]:
new_data_frame = dataFrame.loc[dataFrame["Department"] == "Finance"]
new_data_frame = new_data_frame.groupby("Title").mean("Salary")
c_level_salary = new_data_frame.loc["C-level", "Salary"]
mid_senior_salary = new_data_frame.loc["Mid-Senior", "Salary"]
print(c_level_salary/mid_senior_salary*100-100)

             Salary
Title
C-level     1030.00
Junior       469.00
Mid          691.25
Mid-Senior   790.00
Senior      1000.00
30.379746835443058

In [18]:
#8) Software development departmanında c-level çalışan sayısı marketing departmanında çalışana oranla kaç kat fazladır?

In [67]:
new_data_frame = dataFrame.loc[dataFrame["Title"] == "C-level"]
software_employee = new_data_frame.loc[dataFrame["Department"] == "Software Development"].shape[0]
marketing_employee = new_data_frame.loc[dataFrame["Department"] == "Marketing"].shape[0]
print(software_employee)
print(marketing_employee)
print(software_employee / marketing_employee)

6
2
3.0